.iconContainer span {
    width: 25px;
    height: 25px;
    right: 10%;
    top: -35%;
    background: #746af4;

}

.iconContainer {
    cursor: pointer;
}

.iconContainer i {
    font-size: 30px;
}


@media (max-width : 568px ){


.iconContainer span {
    width: 20px;
    font-size: 14px;
    height: 20px;
    right: 5%;
    
}

.iconContainer i {
    font-size: 25px;
}
  
}