.metodoDePago {
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: 500;
    color: #555;
    border: 1px solid #bfbfbf;

}

.metodoDePago:hover {
    filter: brightness(105%);

    transform: scale(1.01);
}

