
#spinnerCargador {
    transform: scale(0);
    background-color: #55555586;
    animation: scaleAnimation 1s ease forwards 0.5s; 
  }
  
  @keyframes scaleAnimation {
    to {
      transform: scale(1); 
    }
  }