.cardSeleccion {
    cursor: pointer;
    transition: 0.3s all;
    width: 14rem;
    height: 16rem;
    color: #555;
}

.enterAnimation svg {
    transition: all 0.2s;
    transform: translateY(-5px);
}


.enterAnimation,
.enterAnimation:active {
    z-index: 12;
    opacity: 1;

    transform: scale(1.1);
}

.leaveAnimation {
    opacity: 0.7;
    transform: scale(1);
    transition: 0.5s all;
}