.containerSeccion {
    background-color: white;
    border: 2px solid #555;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s all;
}

.seccionActual {
    opacity: 1;
    background-color: rgb(255, 253, 253);
}

.containerSeccion:hover {
    border: 2px solid rgb(114, 102, 240);
    transform: scale(1.1);
    transition: 0.3s all;
}



.botonClose {
    border: 0;
    background: linear-gradient(109.6deg, rgb(114, 102, 240) 11.2%, rgb(164, 69, 255) 91.1%);
}