
.contenedorTabla {
    max-height: 300px;
    overflow: overlay;

}

.titulo {
    color: #555;
}

.total {
    color: #6EC89B;
    font-weight: 600;
    white-space: nowrap;
    max-width: 100vh;
    overflow: hidden;
    text-overflow: ellipsis;

}