#navBar {
    min-height: 70px;
    max-height: 120px;

}

#navBarContainer{
    min-width: 320px;
}

.imgContainer{
    min-width: 60px;
}

.imgContainer img {
    object-fit: cover;
}

.iconBars {
    cursor: pointer;
}

.iconBars:active {
    transform: scale(1.1);
}


@media (max-width : 350px){
    .imgContainer, .imgContainer img {
       display: none;
       min-width: 0px;
    }
}