
#navBar {
    min-height: 70px;
    max-height: 120px;
}

.imgContainer {
    min-width: 60px;
}

.imgContainer img {
    object-fit: cover;
}

@media (max-width : 375px) {

    .imgContainer,
    .imgContainer img {
        display: none;
        visibility: hidden;
        min-width: 0px;
    }

    #usuarioInfo {
        width: 150px ;
    }
}

@media (max-width : 575px){
    #usuarioInfo {
        max-width: 175px;
     }
}

@media (max-width : 768px){
    #usuarioInfo {
        max-width: 300px;
     }
}