.navegacionHeader {
    background-color: #875A7B;
    z-index: 44;
    overflow: hidden;
    max-height: 55px;

}

.contenedorFormSearch {
    background-color: white;
}

@media (max-width: 768px) {
    .navegacionHeader {
        max-height: 100%;
  }
}
