.seccionesMenu {
  cursor: pointer;
  background-color: white;
  transition: 0.3s all;
  padding: 10px;
}

.iconDesactivado {
  color: #3b3b3b;
}

.iconActivado {
  color: white;
}

.iconActivado i:nth-child(2) {
  transform: rotate(180deg);
  transition: 0.5s all;
}

.iconDesactivado i:nth-child(2) {
  transform: rotate(0deg);
  transition: 0.5s all;
}

.seccionElegida {
  padding: 10px;
  background: linear-gradient(109.6deg, rgb(114, 102, 240) 11.2%, rgb(164, 69, 255) 91.1%);
}


.nombreDeRuta:hover {
  transform: scale(1.1);
}

.seccionElegida div:nth-child(1) {
  color: white;
}