.seccionesMenu {
    padding: 10px;
    cursor: pointer;
    color: #3b3b3b;
    border: 1px solid transparent;
    transition: 0.3s all;
}


.seccionesMenu:hover > div {
  transform: scale(1.1);
  transition: 0.3s all;
}

.seccionesMenu > div {
  transform: scale(1);
  transition: 0.3s all;
}

.seccionElegida {
    background: linear-gradient(109.6deg, rgb(114, 102, 240) 11.2%, rgb(164, 69, 255) 91.1%);
    color: white;
}

.seccionElegida:hover > div {
  transform: scale(1);
}

