.contenedorPlantillaPagos {
    background-color: #f8f6f6;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.botonPagos i {
    font-size: 70px;
    cursor: pointer;
}

.subContenedor {
    flex-grow: 1;
    border : 1px solid #555;
}




.subContenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.botonPagos p {
    color: #555;
}


.botonPagos:hover i {

    color: rgb(136, 220, 101);
    border-radius: 50%;

}


