.PlantillaProductos {
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(244, 244, 245, 0.651);
}


/*Lista de productos*/

.producto {
    width: 130px;
    max-width: 130px;
    height: 150px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

/* .producto:hover,
.producto:active {
    transform: scale(1.2) translateY(20px);
    transition: 0.3 all;
    z-index: 1;
    box-shadow: 4px -4px 28px -11px rgba(0, 0, 0, 0.75);
} */

.contenedorProducto:hover .productoNombre {
    color: #555;
    font-weight: 500;
}



.productoNombre {
    font-size: 14px;
    word-wrap: break-word;
    margin: 0;
    font-weight: 400;
}

.productoPrecio {
    background-color: #7D80AB;
    height: 20px;
    width: 97%;
    margin-top: 2px;
}

.productoPrecio p {
    font-size: 15px;
    white-space: nowrap;
    z-index: 10;
    text-overflow: ellipsis;
}

.contenedorNofoto {
    flex: 1;
}

.contenedorNofoto i {
    filter: opacity(30%);
    font-size: 70px;
    max-width: 100%;
    max-height: 100%;
}


/*SECCIONES DE PRODUCTOS*/

.arrowHome{
    
    position: absolute;
    right: -7%;
    top: 0%;
    background-color: #d3d3d3
   
}

.botonHome {
  border-left: 2px solid red;
}

.botonesContainer {
    background-color: #d3d3d3;
    border-bottom: 3px solid rgb(110, 200, 155);
    overflow-x: overlay;
}

.botonesContainer::-webkit-scrollbar {
    height: 6px;
}

.botonesContainer::-webkit-scrollbar-thumb {
    background-color: rgba(34, 34, 34, 0.685);
    border-radius: 100px;
}


.botonesSeccion {
    color: #808080;
    cursor: pointer;
    border-right: 1px solid rgb(193, 191, 191);
    padding: 12px ;
    background-color: #d3d3d3;

}








/*Contenedor De Productos*/

.contenedorProductos {
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
  
}


.contenedorProductos::-webkit-scrollbar {
    width: 0px;
}