.contenedorPlantillaPagos {
    background-color: #f8f6f6;

}

.botonPagos i {
    font-size: 70px;
    cursor: pointer;
}

.subContenedor {
    border: 1px solid #555;
}

.botonPagos p {
    color: #555;
}


.botonPagos:hover i {

    color: rgb(136, 220, 101);
    border-radius: 50%;

}

/*Contenedor pagos*/

.textPagos {
    color: #555;
    font-weight: 600;
}

.lineaPunteada {
    border: 1px dotted #ccc;
}


/*Metodo de pago*/


.metodoDePago p {
    background-color: #c9c5c554;
    color: black;
    cursor: pointer;
    font-weight: 500;
}

.metodoDePago p:hover {
    background-color: rgb(136, 220, 101);
    color: white;
}

/*Interaccion de Metodos de pagos*/

.PrecioTotal {
    color: rgb(110, 200, 155);
    font-weight: 600;
    font-size: 55px;
}

.textDeAyuda {
    color: #555;
}