.contenedorCobroBody {
    overflow-y: auto;
   max-height: 100%;
   transition: 0.1s all;
  
}

.seccionCobroYPagos{
    transition: 2ms all;
}

.contenedorSinProductos {
    height: 100%;
}

.contenedorCobroPrincipal {
    height: 50vh;
    border-bottom: 4px solid  rgb(110, 200, 155);
}



.contenedorCobroBody::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedorCobroBody::-webkit-scrollbar:vertical {
    width: 12px;
}

.contenedorCobroBody::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.contenedorCobroBody::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedorCobroBody::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedorCobroBody::-webkit-scrollbar-track {
    border-radius: 10px;
}

/*Carrito de compras vacio*/

.carrito {
    font-size: 140px;
    color: #DDD;
    opacity: 60%;
}

.textoCarrito {
    color: #55555560;
    z-index: 1;
    position: absolute;
    top: 25%;

}

/*Linea divisoria*/

.linea {
    width: 5px;
    min-height: 5px;
    background-color: rgb(94, 95, 93);
    ;
    z-index: 2;
    cursor: w-resize;
}

.linea:hover,
.linea:active {
    background-color: rgb(110, 200, 155);
    filter: brightness(110%);
    transform: scale(1.2);
    transition: 0.1 all;
}

/*Botones Header*/
.botonesCrud div {
    display: flex;
    justify-content: center;
}

.botonesCrud span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #7D80AB;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #555;
    font-size: 20px;
}


.botonesCrud span:hover {
    background-color: white;
    color: #7D80AB;
    cursor: pointer;
}

.seleccionNombre {
    min-width: 100px;
}

/*Productos*/
.productosACobrar {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: none;
    cursor: pointer;
}

.contenedorDelProducto {
    margin-top: 2px;
    outline: none;
}

.productosACobrar:focus {
    outline: 2px solid rgba(65, 64, 64, 0.377);
    border-radius: 2px;
}

.nombreDelProducto {
    color: #555555;
    font-weight: 600px;
}

.infoDelProducto {
    margin-bottom: -10px;
    color: #888;
}

.precioTotalDelProducto {
    color: #555555;
}

.precioTotalDelProducto {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.contenedorCobroProductoNoSeleccionado:hover {
    background-color: rgba(140, 143, 183, 0.078);
    transition: 0.2s all;
}


.contendorCobroProductoSeleccionado {
    transition: 0.2s all;
    background-color: rgba(140, 143, 183, 0.2);
}

.contendorCobroProductoSeleccionado .infoDelProducto {
    overflow-x: overlay;
}

.contendorCobroProductoSeleccionado .infoDelProducto::-webkit-scrollbar {
    height: 12px;
}

.contendorCobroProductoSeleccionado .infoDelProducto::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

.contendorCobroProductoSeleccionado .infoDelProducto::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
}