.cardContainer{
width: 12rem;
max-height: 14rem;
min-height: 14rem;
cursor: pointer;

}

.cardContainer:active {
    border: 1px solid rgb(112, 245, 194);
    transition: 0s all;
}

.cardContainer:hover {
    transform: translateY(-5px);
}
