.cardContainer{
    width: 12rem;
    max-height: 14rem;
    min-height: 14rem;
    cursor: pointer;
    border: 1px solid white;
    
    }
    
    .cardContainer:active {
        border: 1px solid rgb(112, 245, 194) !important;
        transition: 0s all;
    }

@media (max-width : 1200px) {
    .contedorDeProductos {
        flex-grow: 1;
        height: 100%;
    }
}