/*SeccionDeCaja*/



.borderControlEfectivo {
    max-width: fit-content;
    color: #555;
    transform: translateY(1px);
}


/*Seccion Pagos*/


.accordionContenedor {
    color: #555;
    background-color: #d0d0d01f;
 
}

.accordionContenedor div {
    cursor: pointer;
}

.accordioBodyPagos {
    cursor: pointer;
    
}

.iconActivado {
    background-color:#736af4e1;
    color: white;
}

.iconActivado:hover {
    background-color:#736af4e1;
}

.iconActivado i {
    rotate: 180deg;
}

.iconDesactivado i {
   rotate: 0deg;
}