/*SeccionDeCaja*/


.botonesDeNavegacion {
    min-width: 150px;
}

.botonesDeNavegacion:active i {
    transform: scale(1.1);
}


.borderControlEfectivo {
    max-width: fit-content;
    color: #555;
    transform: translateY(1px);
}

.botonesDeEfectivo div:nth-child(1),
.botonesDeEfectivo div:nth-child(2) {
    cursor: pointer;
    min-width: 230px
}


.botonesDeEfectivo p {
    color: #555;
}

.botonesDeEfectivo i {
    color: #8689B6;
}


/*Seccion Pagos*/


.accordionContenedor {
    color: #555;
    background-color: #d0d0d01f;
 
}

.accordionContenedor div {
    cursor: pointer;
}

.accordioBodyPagos {
    cursor: pointer;
    
}

.iconActivado {
    background-color:#736af4e1;
    color: white;
}

.iconActivado:hover {
    background-color:#736af4e1;
}

.iconActivado i {
    rotate: 180deg;
}

.iconDesactivado i {
   rotate: 0deg;
}