.columnaInputCantidad input {
    max-width: 120px;
}

/*TABLA DE VENTAS*/


.tablaDeVentas thead {
    position: relative;
    height: 60px;
}

.tdDescuento input {
    min-width: 45px;
    max-width: 45px;
}

.tdPrecio p {
    max-width: 90px;
}

.tdCantidad input {
    min-width: 25px;
    max-width: 45px;

}

.tdCantidad button i {
    background-color: #746AF4;
}

.tdNombre {
    max-width: 200px;
}

.tdTotal {
    max-width: 110px;
    min-width: 110px;
}

.tdIconTrash {
    color: #555;
    cursor: not-allowed;
}

@media (max-width : 1366px) {
    .tablaDeVentas * {
        font-size: 12px;
    }
}


/*Ticket*/
.pinchoTicket p {
    height: 20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #ffffff;
}

.pinchoTicket {
    position: absolute;
    left: -5%;
    top: -1%;
    background-color: #ffffff00;
}

.ticketHeader {
    background-color: #746AF4;
    font-size: 20px;
}

.detalleDeTicket * {
    color: #555;
}

@media (max-width : 1366px) {
    .ticketHeader {
        font-size: 14px;
    }
}

@media (max-width : 1680px) {
    .ticketHeader {
        font-size: 16px;
    }
}

/*SECCION DE VENTA PAGOS*/


.btnValidado,
.btnValidado:hover {
    background: #746AF4 !important;
}


.btnNoValidado:hover,
.btnNoValidado {
    background-color: #6C757d !important;
}