.contenedorDeProductosNav {
    background-color: white;
    height: 90px;
}


.contenedorDeCarritoIndicador {
    right: 2%;
    top: 20%;
    cursor: pointer;
}


@media (max-width : 1200px) {
    .contedorDeProductos {
        flex-grow: 1;
        height: 100%;
    }
}