

/*TablaListaDeProductos*/


.tablaListaDeProductos tbody tr th {
    max-width: 100px;
}

#thProductosNombre {
    max-width: 350px;
}

#thProductosTotal {
    max-width: 200px;
}


.btnSeleccionado {
    border-bottom: 4px solid #928cec;
}

.contenedorDeSecciones {
    max-height: 350px;
    min-height: 100px;
}