/*SeccionDeCajaNav*/

.botonFinDeSession {
    background-color: #746AF4 !important;
}


.botonesDeNavegacion {
    cursor: pointer;
}

.botonesDeNavegacion a {
    text-decoration: none !important;
}

.botonesDeNavegacion p {
    color: #555;
}

.botonesDeNavegacion i {
    color: #8689B6;
}

.botonesDeNavegacion p:nth-child(1) {
    color: #8689B6;
}

.botonesDeNavegacion {
    min-width: 150px;
}

.botonesDeNavegacion:active i {
    transform: scale(1.1);
}

.seccionCajaBody {
    color: #555;
}

.seccionCajaBody div:nth-child(2) {
    color: #8689B6;
}

.seccionCajaFooter {
    color: #555;
}

.borderControlEfectivo {
    max-width: fit-content;
    color: #555;
    transform: translateY(1px);
}

.botonesDeEfectivo div:nth-child(1),
.botonesDeEfectivo div:nth-child(2) {
    cursor: pointer;
    min-width: 230px
}


.botonesDeEfectivo p {
    color: #555;
}

.botonesDeEfectivo i {
    color: #8689B6;
}