.columnaInputCantidad input {
    max-width: 120px;
}

/*TABLA DE VENTAS*/


.tdDescuento input {
    min-width: 45px;
    max-width: 45px;
}


.tdCantidad input {
    min-width: 50px;
    max-width: 50px;

}

.tdTotal {
    max-width: 100px !important;
    min-width: 100px !important;
}

/*Ticket*/
.pinchoTicket p {
    height: 20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #ffffff;
}

.pinchoTicket {
    position: absolute;
    left: -5%;
    top: -1%;
    background-color: #ffffff00;
}

.ticketHeader {
    font-size: 20px;
}

.detalleDeTicket * {
    color: #555;
}

@media (max-width : 1366px) {
    .ticketHeader {
        font-size: 14px;
    }
}

@media (max-width : 1680px) {
    .ticketHeader {
        font-size: 16px;
    }
}



