.seccionesPrincipal {
    flex-grow: 1;
    max-height: 100vh;
    overflow-y: scroll;
    max-width: 100%;
    background-color: rgba(244, 244, 245, 0.651);
    position: relative;
}


.seccionesPrincipal::-webkit-scrollbar {
    width: 0px;
}


.BotonesSeccion {
    color: #808080;
    cursor: pointer;
    border-right: 1px solid rgb(193, 191, 191);
    background-color: #d3d3d3;

}

.BotonHome {
    background-color: rgba(57, 57, 57, 0.534);
}

.BotonesSeccion:hover {
    background-color: rgba(103, 98, 98, 0.534);
    color: white;
}


.BotonSeccionPresionado {
    background-color: rgba(57, 57, 57, 0.534);
    border-left: 1px solid rgb(112, 111, 111);
    cursor: pointer;
    color: white;

}

.botonesContainer {
    background-color: #d3d3d3;
    border-bottom: 4px solid rgb(110, 200, 155);
    overflow-x: overlay;
}

.botonesContainer::-webkit-scrollbar {
    height: 6px;
}

.botonesContainer::-webkit-scrollbar-thumb {
    background-color: rgba(34, 34, 34, 0.685);
    border-radius: 100px;

}