.cardSeleccion {
    animation: none;
    opacity: 0.7;
}

.cardSeleccion:hover {
    animation: miAnimacion 1s ease-in-out forwards;
    transition: 0.3s all;
    z-index: 12;
    opacity: 1;
}

@keyframes miAnimacion {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
    
    100%{
        transform: scale(1.1);
    }
}
