
.svg-1 {
  transform: rotateY(180deg);
}

.svg-2 {
  top: 20%;
  left: 40%;
}

.svg-3 {
  left: 30%;
  top: -25%;
}

.svg-4 {
  transform: rotateY(180deg);
  left: 20%;
  top: 25%;
}

.svg-5 {
  left: 20%;
}
