.pinchoTicket p {

    height: 20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #ffffff;


}

.pinchoTicket{
    position: absolute;
    left: -4.5%;
    top: -1%;
    background-color: #ffffff00;
}

.ticketHeader {
    background-color: #746AF4;
}

.detalleDeTicket {

}


