.ticket {
    visibility: hidden;
    background-color: white;
    border-bottom: var(--border-dashed);
    left: 0%;
    top: 0%;

}

:root {
    --border-dashed: 2px dashed #555;
    --color-parrafo: "#555"
}


@media print {


    body * {
        visibility: hidden;
    }

    .ticket *,
    .ticket {
        visibility: visible;
        font-size: 12px;
    }

    /*Numero de Ticket*/
    .numeroDeTicket {
        font-size: 18px;
    }


    /*Informacio Adicional*/

    .informacionAdicional {
        border-top: var(--border-dashed);

    }

    .informacionAdicional p {
        font-size: 13px;
        font-weight: 500;
        color: var(--color-parrafo);
    }

    .cajero {
        font-size: 15px;
    }

    /*Lista De Productos*/

    .listaDeProductos {
        border-bottom: var(--border-dashed);
        border-top: var(--border-dashed);
        word-break: break-all;
    }

    .nombreDelProducto {
        font-size: 13px;
        color: var(--color-parrafo);
    }

    .contenedorCantidad p:nth-child(2) {
        color: var(--color-parrafo);
        font-weight: 500;
    }

    .totalDelProducto {
        border-bottom: var(--border-dashed);
        width: fit-content;
    }

    .totalDelProducto span:nth-child(2) {
        color: var(--color-parrafo);
        font-weight: 500;
    }


    /*Totales Finales*/
    .totales {
        border-bottom: var(--border-dashed);
    }

    .rowTotal {
        word-break: break-all;
    }

    .rowTotal div:nth-child(1) {
        max-width: 60%;
    }

    .rowTotal div:nth-child(2) {
        max-width: 40%;
        font-weight: 500;
        color: var(--color-parrafo);
    }

    .mensajeInformativo h4 {
        font-size: 13px;
    }

}


@page {
    size: auto;
    margin: 0cm;
    margin-top: -1.5cm;
}