

body {
    max-height: 100vh;
    overflow-y: overlay;
}


@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}



*{
    font-family: "Montserrat";

    user-select: none;
}

